html {
  font-family: sans-serif;
}
	/*
        Name: Christian Powlette
        File: style.css
        Date: 22 February 2024
        styling a blox post with CSS
        */
div {
  width: 200px;
  height: 200px;
  text-align: center;	
  margin: auto;
  line-height: 9;
  /* Because 1.1 converts to 17.6 px, any larger would not fit the range
  however, 1.0 converts to 16px, and 1.2 is too large. This was 
  discouvered when i utilized a rem to px converter. */
  font-size: 1.1rem;
  background-color: red;
  color: white;
  text-shadow: 1px 1px 1px black;
  border-radius: 10px;
  border: 1px solid rgba(153, 0, 0, 0);
  background-image: linear-gradient(
    to bottom right,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 30%,
    rgba(0, 0, 0, 0)
  );
